
 body{
  background-color: #41B3A3;
  margin: 0;
}

 *{
  font-family: sans-serif;
}

.navbar li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

a:hover{
  color:white;
}

header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.2rem;
  background-color: #E27D60;
}

.navbar{
  width:100%;
  height: 120px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar.logo a{
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.navbar .links {
  color: white;
  display: flex;
  gap: 4rem;
}

.navbar .toggle_btn{
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: #41B3A3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover{
scale: 1.07;
color: white;
}

.action_btn:active{
  scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 50px;
  height: 0;
  width: 100%;
  color: black;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 260px;
}

.dropdown_menu li{
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content:center ;
}

.dropdown_menu .action_btn{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}



/* RESPONSIVENESS */
@media (max-width: 768px){
  .navbar .links,
  .navbar .action_btn{
      display:none;
  }
  
  .navbar .toggle_btn{
      display: block;
  }

  .dropdown_menu{
      display: flex;
      flex-direction: column;
  }
}

@media (max-width: 600px){
.logo a{ 
  font-size: 1.5rem;
  font-weight: bolder;
  color: black
}

.dropdown_menu.open{
  height: 100vh;
  background-color: #E27D60;
  right: 0;
  top: 80px;
}

.dropdown_menu li{
  padding: 2rem;
}
.dropdown_menu .action_btn{
  width: 70%; 
} 

.navbar .toggle_btn i{
  color: black;
  font-size: xx-large
} 

header{
  position: sticky;
  top: 0;
  padding: 0 2rem;
  background-color: #E27D60;
}
}



  










