
  body{
    background-color: #41B3A3;
    margin: 0px;
  }

  .web{
    color: black;
    word-spacing: 1em;
    /* word-spacing: 100px; */
  }

  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    top: 0;
    background-color: #E27D60

  }

  nav{
    flex: 1;
    width: auto;
    text-align: center;
    padding: 5px;
    margin: auto 10px;
    border-radius: 3px;
    
  }

  .menu {
    display: flex;
    justify-content: center;
    
  }

  .nav-list {
    margin: 0 auto;
    list-style: none;

  }

    .nav-links {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 3px;
      color: black;
      text-decoration: none;
    }

    .nav-links:hover {
      border-bottom: 2px solid #E27D60;
    } 

    .title{
      font-size: 44px;
      text-transform: uppercase;
      margin: 35px auto;
      font-size: 38px;
      font-weight: 900;
    }

    main{
      width: 80%;
      margin: 200px auto;
    }

    @media (max-width: 480px) {
      header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
      } 

      .title{
        font-size: 22px;
      }

      .menu {
        flex-direction: column;
      }

      .nav-list {
        display: block;
        text-align: right;
        margin: 8px auto;
        padding: 0;
      } 
    
      .nav-link {
        font-size: 14px;
      }}


  










